{% extends 'layout.html' %} {% block title %} About {% endblock %} {% block content %}

<div class="flex justify-center container m-auto flex-col">
	<h1 class="text-center  font-bold text-3xl">About</h1>
	<p class="my-10">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam deleniti consectetur earum
		repudiandae. Non ipsum dignissimos unde, assumenda ad quas, asperiores aperiam quia minima
		eligendi, aliquam sit aliquid accusamus fuga eaque vitae a. Neque quas voluptate vitae aperiam
		dolores tempore officia explicabo. Ut quibusdam id aperiam officia. Explicabo autem doloribus
		magnam impedit. Veritatis ratione dicta corporis autem aut, officia reiciendis illum temporibus
		ipsam optio impedit sequi quibusdam facilis itaque quod? Fuga consectetur recusandae quaerat
		totam magnam quisquam excepturi eaque? Eligendi saepe atque assumenda? Numquam et asperiores
		omnis atque a, repellendus dolorum debitis aperiam dolores, dignissimos cum fugit doloremque
		doloribus quis ut minus veniam consequatur veritatis saepe hic repudiandae mollitia? Excepturi
		magni vitae deserunt consequuntur odit eos eum laudantium, inventore necessitatibus atque ea
		illum quis, accusantium quia natus minus debitis blanditiis qui nisi! Vel numquam cumque, illo
		molestias, sequi modi mollitia architecto fugit ex incidunt, consequuntur quisquam deserunt
		quidem exercitationem reprehenderit hic? Tempore ea, praesentium eius unde accusamus amet
		architecto laudantium quisquam facilis error corrupti quia. Facere error tenetur est cupiditate
		officia labore cumque soluta quae quibusdam iusto, ea ex eius, ipsum atque. Temporibus maxime
		quis laboriosam enim ducimus necessitatibus fugiat quo rem quibusdam maiores excepturi id
		voluptatum ad quae, blanditiis molestiae, voluptatibus cum sapiente similique illo aspernatur
		earum tempora hic mollitia? Architecto nihil, ab ea maiores sit consequatur iste quos ducimus et
		eum voluptatibus optio vero dolores assumenda praesentium ipsa accusantium, adipisci inventore
		cum pariatur atque quibusdam? Officia veritatis eum voluptatum fuga aliquid doloribus laborum
		enim ut dicta optio, incidunt magnam odio qui quasi accusantium laboriosam ducimus corporis
		ipsum aperiam assumenda? Quibusdam ea esse officia quam provident suscipit voluptas ratione
		obcaecati nesciunt iusto dolorem odio, laboriosam nostrum doloremque omnis facere totam qui
		itaque atque dolor voluptatibus molestias consequuntur at repudiandae? Modi, corrupti voluptates
		veritatis quisquam minus magni reiciendis non.
	</p>

	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita modi, eum magnam corporis
		accusamus quae distinctio, consequatur rem vitae ex odio maxime ratione quisquam. Provident
		quaerat facere facilis voluptas sequi sapiente? Maiores voluptas deserunt quas explicabo sed
		nisi, ut soluta praesentium veniam cupiditate inventore accusamus pariatur officiis nulla sunt
		odio assumenda labore ducimus error at dignissimos consequatur voluptatum. Eveniet mollitia
		autem deserunt quas cum, asperiores aspernatur eum obcaecati dignissimos voluptatibus aut illum
		praesentium exercitationem dolore maxime. Distinctio suscipit cum, fugiat sint, laboriosam
		blanditiis enim, adipisci accusamus voluptatem consectetur sed ullam cumque corporis culpa
		obcaecati consequuntur possimus debitis quas laudantium molestias?
	</p>

    <p class="my-10 font-bold text-xl">@Dasacav3</p>
</div>

{% endblock %}
