<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="https://api.iconify.design/logos/python.svg" type="image/x-icon">
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<style>
			* {
				font-family: "Roboto Condensed", sans-serif;
			}
		</style>
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body class="bg-green-300">
		{% include 'partials/_navbar.html' %} {% block content %} {% endblock %}
	</body>
</html>
